<html>
  <head>
    <title>Cambio de Estado del Reclamo</title>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css'
    />
  </head>
  <body style=' margin:0 ; padding:0'>
    <article style='padding:0 ;border:1px solid blue ;'>
      <h1
        style='background-color:blue ; color:white ; padding:15px ; margin-top:0 '
      >Cambio de Estado</h1>
      <p style='padding:5px'>Estimado
        <strong> {{name}}</strong>
        <br />
        Nos comunicamos para notificarle el cambio de estado de su reclamo.
        Estado actual:
        <strong> {{status}}</strong>
        <br />
        Si tiene alguna pregunta, no dude en contactarnos.
        <br />
        Saludos, El equipo de atención al cliente.</p>
    </article>
  </body>
</html>